*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    min-height: 100vh;
    background: rgb(34,144,195);
    background: linear-gradient(0deg, rgba(34,144,195,1) 0%, rgba(34,90,195,1) 0%, rgba(255,28,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}